@import url('./__button/form__button.css');
@import url('./__field/_number/form__field_number.css');
@import url('./__field/_plans/form__field_plans.css');
@import url('./__field/_submit/form__field_submit.css');
@import url('./__field/form__field.css');
@import url('./__input/_number/form__input_number.css');
@import url('./__input/_type/form__input_type_radio.css');
@import url('./__label/_checked/form__label_checked.css');
@import url('./__label/_number/form__label_number.css');
@import url('./__label/_type/form__label_type_plan.css');
@import url('./__label-title/form__label-title.css');
@import url('./__label-subtitle/form__label-subtitle.css');
@import url('./__selected-plan/form__selected-plan.css');
@import url('./__total/form__total.css');
@import url('./__total-value/form__total-value.css');
.form {
  border: 10px solid #ebebeb;
  background-color: #f8f8f8;
  padding: 25px;
  min-width: 450px;
  border: none;
}
